<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LCSCarousel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <LCSCarousel.Properties.Settings>
            <setting name="cookie" serializeAs="String">
                <value />
            </setting>
            <setting name="projects" serializeAs="String">
                <value />
            </setting>
            <setting name="instances" serializeAs="String">
                <value />
            </setting>
            <setting name="instanceattributes" serializeAs="String">
                <value />
            </setting>
            <setting name="AllWMs" serializeAs="String">
                <value />
            </setting>
            <setting name="ShadowDirection" serializeAs="String">
                <value>225</value>
            </setting>
            <setting name="SelectedPersonalVM" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultImage" serializeAs="String">
                <value>/Resources/DefaultVM.png</value>
            </setting>
            <setting name="Skip" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MimimizeOnStartRDP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Span" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Resolution" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="Multimon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoggedInUri" serializeAs="String">
                <value />
            </setting>
            <setting name="UseDefaultUser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultUser" serializeAs="String">
                <value />
            </setting>
        </LCSCarousel.Properties.Settings>
    </userSettings>
</configuration>