################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/LCSCarousel/bin/Debug
/LCSCarousel/obj/Debug
/LCSCarousel/obj/Release
/.vs
/LCSCarousel/bin/Release
/LCSCarousel/obj
/LCSCarousel/bin/x64/Debug
/SimpleLCSSetup/Debug
/LCSCarousel/bin/x64/Release
